[submodule "esp32/mutext-example"]
	path = esp32/mutext-example
	url = https://github.com/bill-richards/esp32-mutex-example.git
[submodule "esp32/mutex-example"]
	path = esp32/mutex-example
	url = https://github.com/bill-richards/esp32-mutex-example.git
